@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

nav {
    border: 2px solid gray;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 2.5rem;
    line-height: 5rem;
}

h2 {
    padding: 1rem;
    background: yellow;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;   
}

li {
    border-top: 1px solid green; 
}

li a {
    display: block;
}

li a, 
li a:visited {
    text-decoration: none;
    color: #333;
}

li a:hover,
li a:focus {
    background: #333;
    color: antiquewhite;
    cursor: pointer;
}

li:last-child a {
    border-radius: 0 0 2rem 2rem;
}